<po-container class="po-md-2">
    <div class="card-content">
        <img [src]="productImage()" width="180" height="160"/>
        <p class="po-font-text-bold">{{productName()}}</p>
        <po-divider/>
        <p class="po-font-text-bold">R$ {{productUnitPrice()}}</p>
        <div class="buttons-card po-mt-2">
            <po-button p-icon="an an-minus" p-kind="tertiary" (p-click)="''"></po-button>
            <po-button p-icon="an an-plus" p-kind="tertiary"></po-button>
        </div>
    </div>
</po-container>