.card-content {
    align-items: center;
    text-align: center;
}

.buttons-card {
    display: flex;
    justify-content: space-between;
    align-items: center;            // alinha verticalmente
}